button.flatbutton {
  font-size: 18px;
  color: white;
  border: 0;
  padding: 1rem;
}

button.flatbutton.red {
  background-color: red !important;
}

button.flatbutton.blue {
  background-color: blue !important;
}

button.flatbutton.green {
  background-color: green !important;
}
