button.flatbutton {
  font-size: 18px;
  color: white;
  border: 0;
  padding: 1rem;
  width: 100% !important;
}

button.flatbutton.red {
  background-color: red !important;
}

button.flatbutton.blue {
  background-color: blue !important;
}

button.flatbutton.green {
  background-color: green !important;
}

figure.flagmod-plus.image {
  height: 100%;
  width: 100%;
  margin: 0;
}

div.flagmod-plus.ris-bar {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
  text-align: center;

  & input {
    width: 100px;
    height: 30px;
  }
}

.lum-lightbox.lum-open {
  background-color: rgba(157, 186, 242, 0.7);
}
