@charset "utf-8";

$family-sans-serif: 'Montserrat', sans-serif;

@import "icons";
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/form/all";

.is-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}
