{% use 'options/_blocks.html.twig' %}
<!DOCTYPE html>
<html lang="en" class="is-size-7">
<head>
    <title>OkCupid Flagmod Plus Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../app/options.css">
</head>
<body>
<div class="dashboard">
    {{ block('left_panel') }}
    {{ block('main_section') }}
    {{ block('right_panel') }}
</div>
<script src="../app/options.js"></script>
</body>
</html>
